@media (max-width: 1024px) {
    .platform-platform {
        &__list {
            grid-template-columns: 1fr;
        }

        &__item {
            p {
                max-width: 550px;
            }

            &.custom {
                grid-row: initial;
                grid-column: initial;

                .btn {
                    max-width: 445px;
                }

                &::after {
                    background-size: 490px 471px;
                }
            }
        }
    }

    .swiper3 {
        &__list {
            grid-template-columns: 1fr;
            gap: 10px;
        }
    }

    .calendar-use {
        &__list {
            column-gap: 50px;
        }
    }

    .about-numbers {
        &__container {
            padding: 50px 25px;
        }
    }

    .contacts-info {
        &__container {
            grid-template-columns: 1fr;
        }

        picture {
            padding: 0;
            grid-column: initial;
            grid-row: initial;

            img {
                max-width: 520px;
                margin: auto;
            }
        }

        form {
            max-width: 575px;
        }
    }
}