@media (max-width: 1200px) {
    .header {
        .container {
            height: 80px;
            padding-top: 15px;
            padding-bottom: 15px;
        }

        &.active {
            //background: var(--blue-light);
            background: #dae6f3d9;
        }

        &__logo {
            width: 402px;
            height: 53px;
        }

        &__nav {
            gap: 50px;
            padding: 0;
            background: none;
        }

        &__burger {
            display: block;
        }

        .menu {
            z-index: 100;
            position: fixed;
            flex-direction: column;
            align-items: start;
            gap: 0;
            top: 80px;
            right: 0;
            width: 100%;
            max-width: 400px;
            height: calc(100% - 80px);
            //background: var(--blue-light);
            transform: translateX(400px);
            border-top: 1px solid var(--grey-text);
            box-shadow: 0px 14px 20px 0px rgba(34, 60, 80, 0.2);
            list-style: none;
            background: #dae6f3d9;
            backdrop-filter: blur(10px);

            &.active {
                transform: none;
            }

            &>.menu-item {
                width: 100%;

                &>a {
                    display: block;
                    width: 100%;
                    padding: 20px 30px;
                    font-size: 20px;
                    border-bottom: 1px solid var(--grey-text);
                    text-decoration: none;
                    color: var(--black);
                }

                &>.sub-menu {
                    transition: none;
                    border-bottom: 1px solid var(--grey-text);
                    list-style: none;

                    &>.menu-item {
                        &>a {
                            display: block;
                            width: 100%;
                            padding: 20px 50px;
                            color: var(--black);
                            text-decoration: none;
                            background: #dfedffbf;
                        }
                    }
                }
            }
        }
    }

    section {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    h1 {
        font-size: 42px;
        line-height: 46px;
    }

    h2 {
        font-size: 32px;
        line-height: 36px;
    }

    h3,
    .h3 {
        font-size: 24px;
        line-height: 28px;
    }

    .main-review {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }

        .heading {
            max-width: 490px;
        }
    }

    .heading {
        gap: 15px;
        grid-template-columns: 1fr;
    }

    .main-hero {
        &__heading {
            display: none;
        }

        &__box {
            grid-template-columns: 1fr;
            gap: 0;
        }

        h1 {
            max-width: 605px;
        }

        p {
            max-width: 355px;
        }

        &__list {
            display: block;
            padding: 320px 0 20px;

            &::before {
                right: 38px;
                top: -34px;
                width: 220px;
            }
        }

        &__item {
            display: none;
        }

        &__link {
            right: 73px;
            top: -75px;
        }
    }

    .swiper1 {
        display: block;
        padding-left: 20px;
        padding-right: 20px;
    }

    .main-advantages {
        &__arrow {
            top: 25px;
        }
    }

    .main-platform {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }

        &__banner {
            padding-right: 400px;
            min-height: 200px;
            grid-row: 3;
            grid-column: 1/3;
            align-items: start;
            gap: 30px;
            background-position: right 30px bottom;

            .btn {
                margin: 0;
            }
        }
    }

    .main-bonus {
        &__container {
            padding: 50px 20px 190px;
            background: var(--blue-light) url(../images/main-bonus.svg) right bottom / 704px 100% no-repeat;

            &::before {
                right: 15px;
                bottom: -34px;
                width: 220px;
                height: 156px;
                background: url(../images/main-hero-list.svg) center / contain no-repeat;
                transform: rotate(180deg);
            }
        }

        h2 {
            margin-bottom: 25px;
        }

        &__link {
            right: 50px;
            bottom: -75px;
        }
    }

    .banner-1 {
        &__box {
            grid-template-columns: 1fr 1fr;
        }
    }

    body {
        padding-top: 160px;

        &::after {
            min-width: 390px;
            background-size: cover;
            background-position: right top -96px;
        }
    }

    .footer {
        &::after {
            min-width: 390px;
            background-size: cover;
        }
    }

    .banner-2 {
        &__container {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .platform-advantages {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .swiper2 {
        .swiper-slide {
            width: 305px;
        }
    }

    .overview-events {
        &__container {
            gap: 100px;
        }
    }

    .about-hero {
        .container {
            grid-template-columns: 1fr 450px;
            gap: 50px;
        }
    }

    .about-unique {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .error-hero {
        h1 {
            font-size: 64px;
        }
    }
}