@media (max-width: 768px) {
    .main-review {
        &__list {
            grid-template-columns: 1fr;
        }
    }

    .main-platform {
        &__list {
            grid-template-columns: 1fr;
        }

        &__item {
            min-height: 215px;
        }

        &__banner {
            position: relative;
            padding: 50px 25px 320px;
            grid-row: initial;
            grid-column: initial;
            background-size: 445px 220px;
            background-position: center bottom 30px;
        }

        .btn {
            position: absolute;
            inset: auto 25px 50px;
        }
    }

    .footer {
        .menu {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .terms-tariff {
        &__list {
            grid-template-columns: 1fr;
        }
    }

    .benefits {
        &__item {
            min-height: 220px;
        }

        &__image {
            min-height: 220px;
            grid-row: 8;
            background: image-set(url(../images/terms-benefits-7-tablet.avif), url(../images/terms-benefits-7-tablet.webp), url(../images/terms-benefits-7-tablet.png)) center / cover no-repeat;
        }
    }

    .banner-2 {
        &__container {
            grid-template-columns: 1fr;
            gap: 50px;
            padding: 50px 20px 20px;
            text-align: center;
        }

        &__box {
            gap: 25px;
        }

        picture {
            order: 1;

            img {
                height: 310px;
            }
        }

        .btn {
            max-width: 100%;
        }
    }

    .platform-platform {
        .heading {
            p {
                padding: 0;
            }
        }
    }

    .platform-advantages {
        .heading {
            p {
                padding: 0;
            }
        }

        &__list {
            grid-template-columns: 1fr;
        }
    }

    .about-hero {
        .container {
            grid-template-columns: 1fr;
        }

        h2 {
            max-width: 610px;
        }

        p {
            max-width: 550px;
        }
    }

    .about-mission {
        &__container {
            padding: 275px 30px 30px;
        }

        &__box {
            padding: 30px 25px;

            p {
                max-width: 450px;
            }
        }
    }

    .about-unique {
        h2 {
            font-size: 32px;
            line-height: 36px;
        }

        &__list {
            grid-template-columns: 1fr;
        }
    }

    .error-hero {
        .container {
            grid-template-columns: 1fr;
            gap: 45px;
        }

        h1 {
            font-size: clamp(52px, 13vw, 100px);
            line-height: 100%;
            white-space: nowrap;
        }

        picture {
            img {
                max-width: 500px;
                margin: auto;
            }
        }
    }
}