@media (max-width: 900px) {
    .main-start {
        h2 {
            margin-left: 0;
        }

        &__list {
            grid-template-columns: 1fr;
        }

        &__item {
            &:nth-child(1) {
                padding: 85px 25px 295px;
                grid-row: initial;
                grid-column: initial;
                background-size: 240px 209px;
                background-position: center bottom;
            }

            &:nth-child(2) {
                padding: 85px 25px 70px;
            }

            &:nth-child(3) {
                padding: 85px 25px 70px;
            }

            &:nth-child(4) {
                padding: 85px 25px 25px;
                grid-row: initial;
                grid-column: initial;
            }
        }
    }

    .main-banner {
        text-align: center;

        &__container {
            padding: 50px 20px 20px;
        }

        h2 {
            max-width: 665px;
            margin-left: auto;
            margin-right: auto;
            font-size: 48px;
            line-height: 56px;
        }

        p {
            max-width: 600px;
        }

        &__box {
            grid-template-columns: 1fr;
            gap: 50px;
        }

        &__image-2 {
            height: 225px;
            background-image: image-set(url(../images/banner-2-tablet.avif), url(../images/banner-2-tablet.webp), url(../images/banner-2-tablet.png));
        }
    }
}