@media (max-width: 992px) {
    .main-advantages {
        &__item {
            grid-template-columns: 1fr;
        }

        &__arrow {
            top: 50px;
            right: 25px;
        }

        &__box {
            padding: 140px 25px 50px;
        }
    }

    .banner-3 {
        &__container {
            padding: 50px 20px 20px;
            grid-template-columns: 1fr;
            text-align: center;
        }

        h2 {
            font-size: 52px;
            line-height: 56px;
        }

        p {
            max-width: 665px;
            margin: auto;
        }

        &__box {
            align-items: center;
        }
    }
}