@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/swiper/swiper-bundle';
@import '../scss/keyframes';

:root {
    --bg-blue-light: #F1F3F3;
    --blue-activ: #005FD2;
    --blue-light: #DAE6F3;
    --blue-dark: #014BA5;
    --white: #FFFFFF;
    --black: #282828;
    --grey-text: #575757;
    --transition: .3s ease-in-out all;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

    scrollbar-width: thin;
    scrollbar-color: var(--blue-dark) var(--bg-blue-light);

    transition: var(--transition);

    &::before,
    &::after {
        transition: var(--transition);
    }

    &::-webkit-scrollbar {
        height: 12px;
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: var(--bg-blue-light);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--blue-activ);
        border-radius: 5px;
        border: 3px solid var(--bg-blue-light);
    }
}

h1 {
    margin: 0;
    margin-bottom: 25px;
    font-size: 64px;
    line-height: 68px;
    font-weight: 700;
    color: var(--black);
    font-family: 'Sofia Sans', sans-serif;

    span {
        color: var(--blue-activ);
    }
}

h2 {
    margin-bottom: 50px;
    font-size: 52px;
    line-height: 56px;
    font-weight: 500;
    color: var(--black);
    font-family: 'Sofia Sans', sans-serif;
}

h3,
.h3 {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: var(--black);
    font-family: 'Sofia Sans', sans-serif;
}

.textm {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--grey-text);
}

.texts {
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;
}

.upButton {
    z-index: 1000;
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 15px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    transform: scale(0);
    pointer-events: none;
    background: var(--blue-dark) url(../images/up-btn-white.svg) center / 20px no-repeat;
    border-radius: 50%;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.2);

    &.show {
        transition: all 1s ease-in-out;
        transform: scale(1);
        pointer-events: all;
    }
}

.cookies {
    display: none;
    position: fixed;
    z-index: 10;
    bottom: 40px;
    left: 40px;
    right: 40px;
    margin-left: auto;
    max-width: 450px;
    gap: 20px;
    align-items: start;
    background: var(--black);
    padding: 25px;
    border-radius: 5px;
    color: var(--white);

    p {
        font-size: 16px;
        color: var(--white);
    }

    a {
        color: var(--white);
    }

    .btn {
        margin-top: 10px;
        padding: 10px 30px;
        font-size: 14px;
    }
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--white);
    background: var(--blue-activ);
    border-radius: 30px;
    text-decoration: none;
    border: none;
    cursor: pointer;

    &--white {
        color: var(--black);
        background: var(--white);
    }
}

html {
    min-width: 390px;
    background: var(--bg-blue-light);
    overflow: hidden;
    overflow-y: visible;

    &::before {
        z-index: -2;
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 355px;
        background: linear-gradient(180deg, rgba(218, 230, 243, 1) 0%, rgba(241, 243, 243, 1) 85%);
    }

    &::after {
        z-index: -1;
        content: '';
        position: absolute;
        top: 57px;
        left: 0;
        width: 100%;
        height: 940px;
        background: url(../images/body-bg-top.svg) center / 100% 100% no-repeat;
        //animation: animationLine3 20s ease-in-out infinite;
    }
}

body {
    min-width: 390px;
    overflow: hidden;
    overflow-y: visible;
}

.container {
    max-width: calc(1520px + 60px);
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.header {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: var(--transition);

    &.scrolled {
        background: #f1f3f373;
        backdrop-filter: blur(5px);
        //border-bottom: 1px solid var(--bg-blue-light);
        box-shadow: 0px 0px 21px -4px rgba(34, 60, 80, 0.22);

        .container {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    .container {
        padding-top: 45px;
        padding-bottom: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
        transition: var(--transition);
    }

    &__logo {
        display: block;
        width: 301px;
        height: 68px;
        background: url(../images/header-logo.svg) center / contain no-repeat;
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 160px;
        padding: 13px 20px;
        border-radius: 50px;
        background: var(--white);
    }

    .menu {
        display: flex;
        gap: 90px;
        align-items: center;
        list-style: none;

        &>.menu-item {
            &>a {
                color: var(--black);
                text-decoration: none;
            }
        }
    }

    &__burger {
        display: none;
        width: 26px;
        height: 20px;
        background: url(../images/burger.svg) center / contain no-repeat;
    }
}

.main-hero {
    margin-top: 275px;

    h1 {
        max-width: 860px;
    }

    p {
        max-width: 465px;
    }

    &__box {
        display: grid;
        grid-template-columns: 1fr 190px;
        gap: 195px;
    }

    &__heading {
        width: 190px;
        height: 28px;
        background: url(../images/main-heading.svg) center / contain no-repeat;
        margin-top: auto;
    }

    &__list {
        position: relative;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        margin-top: 50px;
        padding: 305px 20px 20px;
        background: image-set(url(../images/hero-list.avif), url(../images/hero-list.webp), url(../images/hero-list.png)) center / cover no-repeat;
        border-radius: 20px;

        &::before {
            position: absolute;
            content: '';
            width: 180px;
            height: 180px;
            right: 584px;
            top: -90px;
            background: var(--bg-blue-light);
            border-radius: 50%;

            width: 236px;
            height: 165px;
            top: -75px;
            right: 556px;
            background: url(../images/main-hero-list.svg) center / contain no-repeat;
        }
    }

    &__link {
        position: absolute;
        width: 150px;
        height: 150px;
        right: 599px;
        top: -75px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        text-align: center;
        color: var(--white);
        background: var(--blue-activ);
        text-decoration: none;
    }

    &__item {
        min-height: 130px;
        padding: 25px 15px;
        border: 1px solid #D8EAFF33;
        background: #DAE6F34D;
        backdrop-filter: blur(8px);
        border-radius: 20px;

        h3 {
            color: var(--white);
        }

        &:nth-child(1) {
            padding: 25px 15px 190px 15px;
            grid-row: 1/3;
            background: #DAE6F34D url(../images/withdrawals.svg) left 15px bottom 25px / 187px 150px no-repeat;
        }

        &:nth-child(4) {
            padding: 25px 15px 190px 15px;
            grid-column: 4;
            grid-row: 1/3;
            background: #DAE6F34D url(../images/instruments.svg) left 15px bottom 25px / 214px 163px no-repeat;
        }
    }
}

section {
    margin-top: 120px;
    margin-bottom: 120px;
}

.title {
    display: inline-block;
    margin-bottom: 30px;
    padding: 10px;
    color: var(--blue-activ);
    border: 1px solid var(--blue-activ);
    border-radius: 30px;
}

.heading {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 490px;
    margin-bottom: 50px;

    h2 {
        margin: 0;
    }

    p {
        color: var(--black);
    }
}

.main-advantages {
    &__list {
        display: grid;
        gap: 20px;
    }

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding: 50px 25px;
    }

    &__item {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-radius: 20px;
        background: var(--blue-light);
        text-decoration: none;
        transition: var(--transition);

        h3 {
            transition: var(--transition);
        }

        p {
            transition: var(--transition);
        }

        &:nth-child(1) {
            p {
                max-width: 450px;
            }
        }

        &:nth-child(2) {
            p {
                max-width: 330px;
            }
        }

        &:nth-child(3) {
            p {
                max-width: 530px;
            }
        }
    }

    &__arrow {
        position: absolute;
        top: 50px;
        right: calc(50% + 20px);
        content: '';
        width: 65px;
        height: 65px;
        background: url(../images/main-advantages-arrow.svg) center / contain no-repeat;
        transition: var(--transition);
    }

    picture {
        overflow: clip;
        border-radius: 20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
            transition: var(--transition);
        }
    }
}

.main-platform {
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    &__item {
        position: relative;
        padding: 50px 25px;
        border-radius: 20px;
        background: var(--white);
        text-decoration: none;

        &::before {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            width: 60px;
            height: 60px;
            background: url(../images/main-platform-corner.svg) right -1px bottom -1px / contain no-repeat;
        }

        &:nth-child(1) {
            &::after {
                content: '';
                position: absolute;
                right: 0;
                bottom: 0;
                width: 44px;
                height: 44px;
                border-radius: 50%;
                background: var(--white) url(../images/main-platform-icon-1.svg) center / 24px no-repeat;
            }
        }

        &:nth-child(2) {
            &::after {
                content: '';
                position: absolute;
                right: 0;
                bottom: 0;
                width: 44px;
                height: 44px;
                border-radius: 50%;
                background: var(--white) url(../images/main-platform-icon-2.svg) center / 24px no-repeat;
            }
        }

        &:nth-child(3) {
            &::after {
                content: '';
                position: absolute;
                right: 0;
                bottom: 0;
                width: 44px;
                height: 44px;
                border-radius: 50%;
                background: var(--white) url(../images/main-platform-icon-3.svg) center / 24px no-repeat;
            }
        }

        &:nth-child(4) {
            &::after {
                content: '';
                position: absolute;
                right: 0;
                bottom: 0;
                width: 44px;
                height: 44px;
                border-radius: 50%;
                background: var(--white) url(../images/main-platform-icon-4.svg) center / 24px no-repeat;
            }
        }
    }

    &__banner {
        grid-row: 1/3;
        grid-column: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;
        padding: 50px 25px 25px;
        border-radius: 20px;
        background: var(--blue-light) image-set(url(../images/main-platform.avif), url(../images/main-platform.webp), url(../images/main-platform.png)) bottom center / 445px 220px no-repeat;

        .btn {
            text-align: center;
        }
    }
}

.main-start {
    color: var(--white);

    h2 {
        margin-left: 20px;
    }

    h2,
    h3,
    p {
        color: var(--white);
    }

    &__container {
        padding: 120px 20px;
        background: image-set(url(../images/main-start.avif), url(../images/main-start.webp), url(../images/main-start.png)) center / cover no-repeat;
        border-radius: 20px;
    }

    &__list {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }

    &__item {
        position: relative;
        padding: 85px 25px 50px;
        background: #DAE6F34D;
        backdrop-filter: blur(5px);
        border: 1px solid #D8EAFF33;
        border-radius: 20px;

        &:nth-child(1) {
            grid-row: 1/3;
            background: #DAE6F34D image-set(url(../images/main-start-bg.avif), url(../images/main-start-bg.webp), url(../images/main-start-bg.png)) left 25px bottom / 246px 209px no-repeat;
        }

        &:nth-child(4) {
            grid-column: 2/4;
        }
    }

    &__step {
        position: absolute;
        top: 25px;
        right: 25px;
        padding: 10px;
        border-radius: 30px;
        border: 1px solid var(--white);
    }

    &__link {
        position: absolute;
        bottom: 25px;
        right: 25px;
        display: block;
        width: 65px;
        height: 65px;
        background: url(../images/main-advantages-arrow.svg) center / contain no-repeat;
        filter: brightness(0) saturate(100%) invert(100%) sepia(4%) saturate(644%) hue-rotate(119deg) brightness(118%) contrast(100%);
    }
}

.main-bonus {
    &__container {
        position: relative;
        padding: 50px 40px;
        border-radius: 20px;
        background: var(--blue-light) url(../images/bonus-bg.svg) right bottom / 876px 258px no-repeat;

        &::before {
            position: absolute;
            content: '';
            right: 138px;
            bottom: -5px;
            width: 226px;
            height: 165px;
            background: url(../images/main-bonus-bg.svg) center / contain no-repeat;
        }
    }

    &__link {
        position: absolute;
        right: 176px;
        bottom: -5px;
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white);
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        text-align: center;
        border-radius: 50%;
        background: var(--blue-activ);
        text-decoration: none;
    }

    h2 {
        margin-bottom: 20px;

        &+p {
            margin-bottom: 10px;
        }
    }

    p {
        max-width: 510px;
    }
}

.main-review {
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 100px;
        justify-content: space-between;
        padding: 50px 25px;
        background: var(--white);
        border-radius: 20px;
    }

    &__author {
        display: flex;
        gap: 10px;

        .textm {
            margin-bottom: 5px;
            color: var(--black);
        }

        .texts {
            color: var(--grey-text)
        }
    }
}

.main-banner {
    &__container {
        display: grid;
        grid-template-columns: 345px 1fr;
        gap: 20px;
        padding: 50px 20px;
        background: var(--blue-dark);
        border-radius: 20px;
    }

    h2 {
        margin-bottom: 25px;
        color: var(--white);
    }

    p {
        max-width: 400px;
        color: var(--white);
    }

    &__box {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 600px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 35px;
        text-align: center;
    }

    .btn {
        width: 100%;
    }

    &__image-1 {
        background: image-set(url(../images/banner-1.avif), url(../images/banner-1.webp), url(../images/banner-1.png)) center / cover no-repeat;
        border-radius: 20px;
    }

    &__image-2 {
        background: image-set(url(../images/banner-2.avif), url(../images/banner-2.webp), url(../images/banner-2.png)) center / cover no-repeat;
        border-radius: 20px;
    }
}

.footer {
    position: relative;

    &::before {
        z-index: -2;
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: 455px;
        background: linear-gradient(0deg, rgba(218, 230, 243, 1) 0%, rgba(241, 243, 243, 1) 85%);
    }

    &::after {
        z-index: -1;
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: 770px;
        background: url(../images/footer-bg.svg) center / 100% 100% no-repeat;
        //animation: animationLine3 20s ease-in-out infinite;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 620px;
        column-gap: 70px;
        row-gap: 60px;
        padding-bottom: 130px;
    }

    &__social {
        display: flex;
        gap: 20px;
    }

    &__link {
        width: 150px;
        height: 150px;
        border-radius: 100px;

        &--web {
            background: var(--white) url(../images/footer-web.svg) center / 78px no-repeat;
        }

        &--win {
            background: var(--white) url(../images/footer-win.svg) center / 75px no-repeat;
        }

        &--mac {
            background: var(--white) url(../images/footer-mac.svg) center / 76px 94px no-repeat;
        }

        &--app-store {
            background: var(--white) url(../images/footer-app-store.svg) center / 82px no-repeat;
        }

        &--play-market {
            background: var(--white) url(../images/footer-play-market.svg) center / 68px 75px no-repeat;
        }
    }

    &__box {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: space-between;
    }

    &__contacts {
        display: inline-flex;
        flex-direction: column;
        gap: 20px;
    }

    &__contact {
        margin-bottom: 0;
        text-decoration: none;
    }

    &__logo {
        display: block;
        margin-bottom: 10px;
        width: 301px;
        height: 68px;
        background: url(../images/footer-logo.svg) center / contain no-repeat;
    }

    &__info {
        text-align: right;
    }

    .menu {
        display: flex;
        gap: 90px;
        list-style: none;

        &>.menu-item {
            &>a {
                color: var(--black);
                font-size: 18px;
                line-height: 24px;
                font-weight: 400;
                text-decoration: none;
            }
        }
    }
}

@import '../scss/hovers';
@import '../scss/1800';
@import '../scss/1700';
@import '../scss/1600';
@import '../scss/1500';
@import '../scss/1400';
@import '../scss/1300';
@import '../scss/1200';
@import '../scss/1024';
@import '../scss/992';
@import '../scss/900';
@import '../scss/768';
@import '../scss/700';
@import '../scss/600';
@import '../scss/500';
@import '../scss/360';