<section class="banner-3">
    <div class="container">
        <div class="banner-3__container">
            <div class="banner-3__box">
                <div class="banner-3__content">
                    <h2>Trade in assets to suit all taste</h2>
                    <p class="textm">Choose from hundreds of instruments: currencies, stocks, cryptocurrencies and more — start winning today! </p>
                </div>
                <a href="##" class="btn btn--white">Start investing</a>
            </div>

            <picture>
                <source media="(max-width: 600px)" srcset="images/banner-3-image-mobile.avif">
                <source media="(max-width: 600px)" srcset="images/banner-3-image-mobile.webp">
                <source media="(max-width: 600px)" srcset="images/banner-3-image-mobile.png">
                <source srcset="images/banner-3-image.avif">
                <source srcset="images/banner-3-image.webp">
                <img src="images/banner-3-image.png" alt="">
            </picture>
        </div>
    </div>
</section>