<section class="banner-1">
    <div class="container">
        <div class="banner-1__container">
            <div class="banner-1__image-1"></div>

            <div>
                <h2>Open up a world of opportunities with DigitalSpectro!</h2>

                <div class="banner-1__box">
                    <div class="banner-1__content">
                        <p class="textm">Experience all the benefits of trading with a first deposit bonus and personalized support every step of the way</p>

                        <a href="##" class="btn btn--white">Start investing</a>
                    </div>

                    <div class="banner-1__image-2"></div>
                </div>
            </div>
        </div>
    </div>
</section>