<section class="benefits">
    <div class="container">
        <div class="title">Benefits</div>

        <div class="heading">
            <h2>Benefits of trading with SkyTrade:</h2>
            <p class="textm">A reliable broker that combines modern technologies and proven strategies for successful trading.</p>
        </div>

        <div class="benefits__list">
            <div class="benefits__item">
                <img src="images/terms-benefits-1.svg" alt="">
                <h3>Instant access to global markets</h3>
            </div>

            <div class="benefits__item">
                <img src="images/terms-benefits-2.svg" alt="">
                <h3>Favorable terms and low commissions</h3>
            </div>

            <div class="benefits__item">
                <img src="images/terms-benefits-3.svg" alt="">
                <h3>Modern and user-friendly trading platforms</h3>
            </div>

            <div class="benefits__item">
                <img src="images/terms-benefits-4.svg" alt="">
                <h3>Personalized customer support 24/7</h3>
            </div>

            <div class="benefits__item">
                <img src="images/terms-benefits-5.svg" alt="">
                <h3>Wide range of trading instruments</h3>
            </div>

            <div class="benefits__item">
                <img src="images/terms-benefits-6.svg" alt="">
                <h3>Transparent and secure operations</h3>
            </div>

            <div class="benefits__image"></div>

            <div class="benefits__item">
                <img src="images/terms-benefits-8.svg" alt="">
                <h3>Innovative analytical tools</h3>
            </div>
        </div>
    </div>
</section>