<footer class="footer">
    <div class="container">
        <div class="footer__social">
            <a href="##" class="footer__link footer__link--web"></a>
            <a href="##" class="footer__link footer__link--win"></a>
            <a href="##" class="footer__link footer__link--mac"></a>
            <a href="##" class="footer__link footer__link--play-market"></a>
        </div>

        <div class="footer__box">
            <div class="footer__contacts">
                <a href="tel:+358 17 54926" class="h3 footer__contact footer__tel">+358 17 54926</a>
                <a href="mailto:info@skytrade.com" class="h3 footer__contact footer__tel">info@skytrade.com</a>
            </div>

            <div class="footer__info">
                <a href="/" class="footer__logo"></a>

                <p class="texts">© All rights reserved. SkyTrade 2025</p>
            </div>
        </div>

        <ul class="menu">
            <li class="menu-item">
                <a href="##">Trading</a>
            </li>

            <li class="menu-item">
                <a href="##">Analytics</a>
            </li>

            <li class="menu-item">
                <a href="##">Company</a>
            </li>
        </ul>

        <p class="texts">Risk Notice: High-risk investments such as Forex and CFDs involve speculation and may not be suitable for all market participants. You can suffer both partial and total losses of your capital, so we advise you to use only those funds that you are willing to risk. Make sure to fully understand the significant dangers associated with leverage. Prior to using our services, we recommend that you take the time to read through our company's terms and conditions.</p>
    </div>
</footer>

<div class="upButton"></div>

<div class="cookies">
    <p class="textm">We use cookies to learn more about how you use our website and what we can improve.</p>
    <button class="btn cookies--close">Accept</button>
</div>

<script defer src="js/main.min.js"></script>

</body>

</html>