<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Manrope:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet">

    <!-- Берется из js -->
    <title></title>

    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
    <header class="header">
        <div class="container">
            <a href="/" class="header__logo"></a>

            <nav class="header__nav">
                <ul class="menu">
                    <li class="menu-item">
                        <a href="##">Trading</a>
                    </li>

                    <li class="menu-item">
                        <a href="##">Analytics</a>

                        <ul class="sub-menu">
                            <li class="menu-item">
                                <a href="overview.html">Обзор рынка</a>
                            </li>
                            <li class="menu-item">
                                <a href="news.html">Новости рынка</a>
                            </li>
                            <li class="menu-item">
                                <a href="forecasts.html">Прогнозы рынка</a>
                            </li>
                            <li class="menu-item">
                                <a href="calendar.html">Экономический календарь</a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu-item">
                        <a href="##">Company</a>
                    </li>
                </ul>

                <a href="##" class="btn">Sign in</a>

                <div class="header__burger"></div>
            </nav>
        </div>
    </header>