<section class="main-start">
    <div class="container">
        <div class="main-start__container">
            <h2>It's easy to start trading</h2>

            <div class="main-start__list">
                <div class="main-start__item">
                    <div class="texts main-start__step">Step 1</div>
                    <h3>Sign up</h3>
                    <p class="textm">Create an account in just a couple of minutes</p>
                    <a href="##" class="main-start__link"></a>
                </div>

                <div class="main-start__item">
                    <div class="texts main-start__step">Step 2</div>
                    <h3>Verify your account</h3>
                    <p class="textm">Verify to ensure your funds are safe and protected against fraud</p>
                </div>

                <div class="main-start__item">
                    <div class="texts main-start__step">Step 3</div>
                    <h3>Make a deposit</h3>
                    <p class="textm">Choose a convenient payment method and make a deposit</p>
                </div>

                <div class="main-start__item">
                    <div class="texts main-start__step">Step 4</div>
                    <h3>Start trading</h3>
                    <p class="textm">Open your first deals and start your journey to financial independence</p>
                </div>
            </div>
        </div>
    </div>
</section>